name: initial-workflow
on: [push]
jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: docker build --tag img:latest .
  
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: pip install --upgrade pip
      - run: pip install flake8 mypy djangorestframework-stubs django-stubs
      - run: flake8 --exclude=settings.py .
      - run: mypy --exclude '/settings\.py$' .

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: ls -al && python manage.py test